@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

/* h1, h2, h3, h4{
    font-family: "Playfair Display", serif;
}

p{
    font-family: "Lato", sans-serif;
} */

.main{
    background-image: linear-gradient(#000000f1, #000000ee), url("/assets/images/photo-1733085896817-1ba77436c393.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: normal;
}


/* Custom Dots */
.slick-dots {
    bottom: -55px !important; /* Adjust the position of the dots */
  }

  .slick-dots li button:before {
    color: #15803D !important; /* Gold color for inactive dots */
    opacity: 0.3; /* Make inactive dots slightly transparent */
    font-size: 12px; /* Adjust dot size */
  }

  .slick-dots li.slick-active button:before {
    color: #15803D; /* Gold color for active dot */
    opacity: 1; /* Make active dot fully visible */
  }

  /* Add Gaps Between Slides */
  /*.slick-slide {
    margin: 0 10px; Add 10px gap between slides
  }*/

  .slick-list {
    margin: 0 -10px; /* Compensate for the gap */
  }